<!DOCTYPE html>
<html>
<head>
  <title>NinetyNineCatsDay1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h3>Welcome,
      <%=current_user ? current_user.user_name : 'Guest'  %>
      <% if current_user %>
        <%= button_to "Log out", session_url, method: :delete %>
      <% else %>
      <%= button_to "Log in", new_session_url, method: :get %>
      <% end %>
    </h3>
  </header>
<%= yield %>
<!-- Does this yield to the renders? -->

</body>
</html>
